body{
    margin: 0;
    padding: 0;

    .container{
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    
        .card, .card2, .card3, .card4{
            background-color: #5AA7FE;
            width: 20%;
            height: 200px;
            color: white;
            padding: 0 20px;
            border-radius: 10px;
    
            h2{
                font-family: sans-serif;
            }
            .icons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 auto;
        
                h3, h4, h5{
                    margin: 15px 0;
                    font-family: sans-serif;
                }
            }
        }
        .card2{
            background-color: #45DCBD;
        }
    
        .card3{
            background-color: #FEBF62;
        }
    
        .card4{
            background-color: #FF6B85;
        }
    }
}
